In [2]:
import requests
from pprint import pformat

station_id = "44t"
param = "PM25,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD"
data_type = "hr"
start_date = "2024-02-19"
end_date = "2024-02-20"
start_time = "00"
end_time = "23"
url = f"http://air4thai.com/forweb/getHistoryData.php?stationID={station_id}&param={param}&type={data_type}&sdate={start_date}&edate={end_date}&stime={start_time}&etime={end_time}"
response = requests.get(url)
response_json = response.json()
# print(pformat(response_json))

import pandas as pd

pd_from_dict = pd.DataFrame.from_dict(response_json["stations"][0]["data"])
print(pformat(pd_from_dict))
pd_from_dict.to_csv(f"air4thai_{station_id}_{start_date}_{end_date}.csv"

SyntaxError: incomplete input (3227856335.py, line 20)

In [77]:
import pandas as pd
air25_data = pd.read_csv('airbin.csv')
air25_data

,Unnamed: 0,DATETIMEDATA,PM25,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD
0,0,2024-02-19 00:00:00,14.4,NaN,18.0,NaN,NaN,NaN,1,28,76,108
1,1,2024-02-19 01:00:00,17.5,NaN,17.0,NaN,NaN,NaN,1,28,76,106
2,2,2024-02-19 02:00:00,14.0,NaN,18.0,NaN,NaN,NaN,0,28,76,104
3,3,2024-02-19 03:00:00,13.6,NaN,18.0,NaN,NaN,NaN,1,28,74,96
4,4,2024-02-19 04:00:00,14.4,NaN,17.0,NaN,NaN,NaN,1,27,78,94
5,5,2024-02-19 05:00:00,13.2,NaN,18.0,NaN,NaN,NaN,1,27,78,102
6,6,2024-02-19 06:00:00,13.5,NaN,15.0,NaN,NaN,NaN,0,27,78,102
7,7,2024-02-19 07:00:00,19.7,NaN,14.0,NaN,NaN,NaN,1,28,76,96
8,8,2024-02-19 08:00:00,19.0,NaN,18.0,NaN,NaN,NaN,1,29,71,112
9,9,2024-02-19 09:00:00,10.2,NaN,NaN,NaN,NaN,NaN,1,31,61,115
10,10,2024-02-19 10:00:00,13.5,NaN,22.0,NaN,NaN,NaN,1,31,57,136
11,11,2024-02-19 11:00:00,14.4,NaN,22.0,NaN,NaN,NaN,1,32,55,147
12,12,2024-02-19 12:00:00,14.7,NaN,24.0,NaN,NaN,NaN,2,32,55,139
13,13,2024-02-19 13:00:00,10.6,NaN,23.0,NaN,NaN,NaN,1,33,52,155
14,14,2024-02-19 14:00:00,11.9,NaN,20.0,NaN,NaN,NaN,1,33,57,169
15,15,2024-02-19 15:00:00,9.8,NaN,19.0,NaN,NaN,NaN,1,31,60,157
16,16,2024-02-19 16:00:00,8.5,NaN,18.0,NaN,NaN,NaN,1,31,60,177
17,17,2024-02-19 17:00:00,12.7,NaN,15.0,NaN,NaN,NaN,1,30,65,144
18,18,2024-02-19 18:00:00,14.1,NaN,18.0,NaN,NaN,NaN,1,29,69,126
19,19,2024-02-19 19:00:00,20.0,NaN,17.0,NaN,NaN,NaN,1,29,74,119
20,20,2024-02-19 20:00:00,18.8,NaN,17.0,NaN,NaN,NaN,1,28,77,110
21,21,2024-02-19 21:00:00,19.8,NaN,26.0,NaN,NaN,NaN,1,28,78,112
22,22,2024-02-19 22:00:00,23.5,NaN,26.0,NaN,NaN,NaN,1,28,78,115
23,23,2024-02-19 23:00:00,13.0,NaN,15.0,NaN,NaN,NaN,1,28,78,117
24,24,2024-02-20 00:00:00,11.3,NaN,15.0,NaN,NaN,NaN,1,28,78,111
25,25,2024-02-20 01:00:00,15.2,NaN,9.0,NaN,NaN,NaN,0,27,83,111
26,26,2024-02-20 02:00:00,19.2,NaN,7.0,NaN,NaN,NaN,0,27,85,107
27,27,2024-02-20 03:00:00,11.8,NaN,8.0,NaN,NaN,NaN,0,27,87,107
28,28,2024-02-20 04:00:00,14.3,NaN,7.0,NaN,NaN,NaN,0,27,87,107
29,29,2024-02-20 05:00:00,18.9,NaN,4.0,NaN,NaN,NaN,0,26,88,106
30,30,2024-02-20 06:00:00,26.2,NaN,3.0,NaN,NaN,NaN,0,26,89,106
31,31,2024-02-20 07:00:00,28.9,NaN,6.0,NaN,NaN,NaN,0,27,85,105
32,32,2024-02-20 08:00:00,31.4,NaN,18.0,NaN,NaN,NaN,1,29,69,112
33,33,2024-02-20 09:00:00,19.0,NaN,25.0,NaN,NaN,NaN,1,31,62,93

In [2]:
air25_data.describe()

,Unnamed: 0,PM25,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD
count,34.000000,34.000000,0.0,33.000000,0.0,0.0,0.0,34.000000,34.000000,34.000000,34.000000
mean,16.500000,16.205882,NaN,16.272727,NaN,NaN,NaN,0.764706,28.794118,72.705882,118.323529
std,9.958246,5.319543,NaN,6.175925,NaN,NaN,NaN,0.495973,1.981420,10.718235,21.704239
min,0.000000,8.500000,NaN,3.000000,NaN,NaN,NaN,0.000000,26.000000,52.000000,93.000000
25%,8.250000,13.050000,NaN,15.000000,NaN,NaN,NaN,0.250000,27.000000,62.750000,106.000000
50%,16.500000,14.400000,NaN,18.000000,NaN,NaN,NaN,1.000000,28.000000,76.000000,111.000000
75%,24.750000,19.000000,NaN,19.000000,NaN,NaN,NaN,1.000000,30.750000,78.000000,124.250000
max,33.000000,31.400000,NaN,26.000000,NaN,NaN,NaN,2.000000,33.000000,89.000000,177.000000

In [51]:
air25_data.isnull().sum()

Unnamed: 0       0
DATETIMEDATA     0
PM25             0
PM10            34
O3               1
CO              34
NO2             34
SO2             34
WS               0
TEMP             0
RH               0
WD               0
dtype: int64

In [78]:
nan_col=['CO','NO2','SO2','PM10',]
air25_data = air25_data.drop(columns=nan_col)
air25_data.dropna(subset='O3', inplace=True)

air25_data

    Unnamed: 0         DATETIMEDATA  PM25    O3  WS  TEMP  RH   WD
0            0  2024-02-19 00:00:00  14.4  18.0   1    28  76  108
1            1  2024-02-19 01:00:00  17.5  17.0   1    28  76  106
2            2  2024-02-19 02:00:00  14.0  18.0   0    28  76  104
3            3  2024-02-19 03:00:00  13.6  18.0   1    28  74   96
4            4  2024-02-19 04:00:00  14.4  17.0   1    27  78   94
5            5  2024-02-19 05:00:00  13.2  18.0   1    27  78  102
6            6  2024-02-19 06:00:00  13.5  15.0   0    27  78  102
7            7  2024-02-19 07:00:00  19.7  14.0   1    28  76   96
8            8  2024-02-19 08:00:00  19.0  18.0   1    29  71  112
10          10  2024-02-19 10:00:00  13.5  22.0   1    31  57  136
11          11  2024-02-19 11:00:00  14.4  22.0   1    32  55  147
12          12  2024-02-19 12:00:00  14.7  24.0   2    32  55  139
13          13  2024-02-19 13:00:00  10.6  23.0   1    33  52  155
14          14  2024-02-19 14:00:00  11.9  20.0   1    33  57  169
15          15  2024-02-19 15:00:00   9.8  19.0   1    31  60  157
16          16  2024-02-19 16:00:00   8.5  18.0   1    31  60  177
17          17  2024-02-19 17:00:00  12.7  15.0   1    30  65  144
18          18  2024-02-19 18:00:00  14.1  18.0   1    29  69  126
19          19  2024-02-19 19:00:00  20.0  17.0   1    29  74  119
20          20  2024-02-19 20:00:00  18.8  17.0   1    28  77  110
21          21  2024-02-19 21:00:00  19.8  26.0   1    28  78  112
22          22  2024-02-19 22:00:00  23.5  26.0   1    28  78  115
23          23  2024-02-19 23:00:00  13.0  15.0   1    28  78  117
24          24  2024-02-20 00:00:00  11.3  15.0   1    28  78  111
25          25  2024-02-20 01:00:00  15.2   9.0   0    27  83  111
26          26  2024-02-20 02:00:00  19.2   7.0   0    27  85  107
27          27  2024-02-20 03:00:00  11.8   8.0   0    27  87  107
28          28  2024-02-20 04:00:00  14.3   7.0   0    27  87  107
29          29  2024-02-20 05:00:00  18.9   4.0   0    26  88  106
30          30  2024-02-20 06:00:00  26.2   3.0   0    26  89  106
31          31  2024-02-20 07:00:00  28.9   6.0   0    27  85  105
32          32  2024-02-20 08:00:00  31.4  18.0   1    29  69  112
33          33  2024-02-20 09:00:00  19.0  25.0   1    31  62   93