In [44]:
import pandas as pd
air25_data = pd.read_csv('air4.csv')
air25_data
air25_data.to_csv("clean_data2.csv", index=False)
print(air25_data.dtypes)

DATETIMEDATA     object
PM25            float64
O3              float64
WS                int64
TEMP            float64
RH              float64
WD              float64
dtype: object

In [40]:
df1= pd.read_csv('air4.csv')
df2= pd.read_csv('clean_data.csv')
df1

             DATETIMEDATA  PM25         O3  WS  TEMP    RH     WD
0     2024-01-01 00:00:00  16.5  16.000000   1  27.0  79.0  115.0
1     2024-01-01 01:00:00  33.6  11.479814   1  27.0  82.0   97.0
2     2024-01-01 02:00:00  34.2  11.479814   1  26.0  84.0   96.0
3     2024-01-01 03:00:00  20.1  11.479814   1  26.0  82.0  108.0
4     2024-01-01 04:00:00  16.5   1.000000   1  27.0  79.0  106.0
...                   ...   ...        ...  ..   ...   ...    ...
1531  2024-03-04 19:00:00  15.5  27.000000   2  29.0  70.0  116.0
1532  2024-03-04 20:00:00  23.9  27.000000   2  29.0  73.0  115.0
1533  2024-03-04 21:00:00  20.4  29.000000   2  28.0  75.0  113.0
1534  2024-03-04 22:00:00  19.5  24.000000   1  28.0  77.0  110.0
1535  2024-03-04 23:00:00  20.1  13.208916   1  28.0  77.0  110.0

[1536 rows x 7 columns]

In [8]:
air25_data.describe()

,PM25,O3,WS,TEMP,RH,WD
count,1536.000000,1536.000000,1536.000000,1536.000000,1536.000000,1536.000000
mean,17.812311,13.208916,0.878255,28.544440,69.326054,137.417703
std,5.132995,10.613804,0.431823,2.264502,11.432637,34.540108
min,5.300000,1.000000,0.000000,23.000000,40.000000,75.000000
25%,14.100000,5.000000,1.000000,27.000000,61.000000,110.000000
50%,17.400000,12.000000,1.000000,28.000000,71.000000,129.000000
75%,20.700000,18.000000,1.000000,30.000000,78.000000,159.000000
max,43.400000,140.000000,3.000000,34.000000,97.000000,253.000000

In [7]:
air25_data.isnull().sum()

DATETIMEDATA    0
PM25            0
O3              0
WS              0
TEMP            0
RH              0
WD              0
dtype: int64

In [1]:
nan_col=['CO','NO2','SO2','PM10',]
air25_data = air25_data.drop(columns=nan_col)
air25_data.dropna(subset='O3', inplace=True)
air25_data

NameError: name 'air25_data' is not defined

In [11]:
air25_data.to_csv("clean_data2.csv", index=False)